# Eclipse
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Compiled output
out/

# IntelliJ IDEA module file
*.iml

# IntelliJ IDEA workspace file
*.iws

# IntelliJ IDEA project-specific files
.idea/

# Exclude any other build directories
/target/
/.gradle/
/build/